html {
    height: 100%;
}

body {
    height: 100%;
    background:#1a0d00;
    color:white;
    
}
a {
    text-decoration: none;
}

.main {
    height: 100%;
}
.social-image{
    width: 30px;
    margin: 15px;
}
.header {
    display: flex;
    justify-content:center;
}
.navbar {
    display:flex;
    justify-content:space-around;
    font-family: 'Raleway', sans-serif;
}

.leftPane {
    display:flex;
    justify-content:center;
}
.gallery {
    display:flex;
    justify-content:space-around;
}
.thumbnail-image {
    height: 100px;
    width: 100px;
}
    
.header{
    font-size: 75px;
    font-family: 'Raleway', sans-serif;
}
.content{
    font-family: 'Raleway', sans-serif;
    display:flex;
    justify-content:center;
}
.aboutMain{
    font-family: 'Raleway', sans-serif;
}
.footer{
    display:flex;
    justify-content:center;
}